<ion-content [fullscreen]="true" scroll="false" class="atur-password-page">
  <div class="background"></div>

  <div class="card">
    <div class="logo-container">
      <img src="assets/logo-jek.png" alt="Logo" class="logo" />
    </div>
    <h2>Atur Password Baru</h2>
    <p>Silakan masukkan password baru Anda</p>
    <form (submit)="simpanPassword()">
      <ion-item lines="none">
        <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Password Baru" [(ngModel)]="passwordBaru" name="passwordBaru" required></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility()" style="cursor: pointer;"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-input [type]="showPassword2 ? 'text' : 'password'" placeholder="Konfirmasi Password" [(ngModel)]="confirmPassword" name="konfirmasiPassword" required></ion-input>
        <ion-icon [name]="showPassword2 ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility2()" style="cursor: pointer;"> </ion-icon>
      </ion-item>
      <ion-button expand="block" type="submit" class="btn-simpan">Simpan</ion-button>
    </form>
  </div>
</ion-content>
