<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profilku"></ion-back-button>
    </ion-buttons>
    <ion-title>Pusat Bantuan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="faq-list">
    <ion-item lines="full" button (click)="goToTutorial()">
      <ion-label>
        <strong>1</strong> &nbsp; [Akun Saya] Apakah saya bisa mengubah kata sandi saya?
      </ion-label>
    </ion-item>
  </div>
</ion-content>
